.NewUserPage {
  display: block;
  .join-header {
    font-weight: 800;
  }
  .new-user-form{
    margin-bottom: 2em;
  }
  .avatar-select-header {
    font-size: 2em;
    font-weight: 800;
  }
  .selected {
    border: 5px solid black;
    border-radius: 5%;
    box-shadow: 0px 0px 15px green;
  }
  .avatar-btn:focus {
    outline: none;
  }
  .avatar-image {
    outline: none;
    padding: .75em;
    cursor: pointer;
    width: 100%;
  }
  .new-user-btn {
    cursor: pointer;
  }
}