.ScoopMap {
  display: block;
  border: 1px solid rgb(201, 195, 195);
  margin: auto;
  margin-bottom: 1em;
  height: 10em;
  width: 95%;
  @media (min-width: 768px) {
    width: 70%;
    }
}

.leaflet-container {
  height: 35em;
  width: 100%;
}