.ScoopMap {
  margin-bottom: 1em;
  .leaflet-container {
    display: block;
    height: 35em;
    border: 1px solid rgb(201, 195, 195);
    width: 100%;
    margin: auto;
  }
}



.popup-image {
  width: 75%;
}