.Home {
  display: block;
  .search-btn {
    margin: 1em;
  }
  .review-div {
    border-top: 2px solid black;
  }
  .result-component {
    height: 100vh;
    overflow: scroll;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}