.Business {
  .businessPhoto {
    width: 15em;
  }
  ul {
    list-style: none;
  }
  .unisexRating {
    color: green;
  }
  .maleRating {
    color: blue;
  }
  .femaleRating {
    color: pink;
  }
  .red-baby {
    color: red;
  }
}