.ResultRow {
  display: block;
  max-height: 15em;
  margin-bottom: 1em;
  .card {
    background-color: #CBBF7A;
    border: 1px solid grey;
    box-shadow: 0px 0px 5px grey;
  }
  .result-image-div {
    max-height: 14em;
    .result-image {
      max-height: 100%;
    }
  }
  .result-name-div {
    text-align: start;
    .result-name {
      font-size: 2em;
      color: rgb(39, 42, 44);
    }
    .result-name:hover {
      color: rgb(73, 73, 73);
    }
  }

  .unisexRating {
    color: green;
  }
  .maleRating {
    color: blue;
  }
  .femaleRating {
    color: pink;
  }
  .red-baby {
    color: red;
  }
}