.ResultRow {
  display: block;
  margin-bottom: 2em;
  .card {
    background-color: #CBBF7A;
    border: 1px solid grey;
    box-shadow: 0px 0px 5px grey;
  }
  .underline {
    border-bottom: 1px solid black;
    padding-bottom: 0em;
    margin-bottom: .5em;
  }
  .result-name-div {
    text-align: start;
    .result-name {
      color: rgb(39, 42, 44);
      font-size: 1.5em;
      @media (min-width: 768px) {
      font-size: 1.25em;
      }
    }
    .result-name:hover {
      color: blue;
    }
  }
  .result-address-div {
    font-size: .75em;
    @media (min-width: 768px) {
      font-size: 1em;
    }
    .business-address {
      margin-bottom: 0em;
    }
  }
  .sex-symbol {
    font-size: 1.5em;
    padding: 0.15em;
    vertical-align: middle;
  }
  td {
    padding: 0.15em;
    vertical-align: middle;
  }
  .fa-baby {
    font-size: 1.5em;
  }
}
