.ResultRow {
  display: block;
  max-height: 15em;
  margin-bottom: 1em;
  .result-image-div {
    max-height: 14em;
    .result-image {
      max-height: 100%;
    }
  }
  .result-name {
    text-align: start;
  }
  .unisexRating {
    color: green;
  }
  .maleRating {
    color: blue;
  }
  .femaleRating {
    color: pink;
  }
  .red-baby {
    color: red;
  }
}